

/*Toolbar CSS*/
.toolbar{
    background-color: var(--darkblue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.toolbar_container{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.toolbar_social_icon, .toolbar_contact_icon, .toolbar_location_icon{
    height: 30px;
    width: 30px;
}

.toolbar_social{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.toolbar_social_icon{
    margin-right: 0.5rem;
}

.github{
    height: 25px;
    width: 25px;
}

.toolbar_contact_link, .toolbar_location_link{
    color: var(--white);
    text-decoration: none;
}

.toolbar_location{
    display: flex;
    justify-content: center;
    align-items: center;
}

.toolbar_contact{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.toolbar_contact_link:hover, .toolbar_location_link:hover{
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 0.3rem;
}

.toolbar_social_link:hover{
    transform: scale(1.25);
}
/*Navbar CSS*/

.navbar{
    background-color: var(--light-gray);
}


.navbar_container{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.navbar_logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo{
    height: 2.5rem;
}

.menu_btn{
    cursor: pointer;
    display: none;
}
.navbar_links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar_link{
    text-decoration: none;
    font-weight: 500;
    color:var(--black);
    margin-left: 1rem;
}

.navbar_link:hover{
    color: var(--darkblue);
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 0.3rem;
}

/*HEADER CSS*/
 header{
    background-color: background: rgb(233,233,233);
    background: linear-gradient(90deg, rgba(233,233,233,1) 0%, rgba(185,218,255,1) 0%, rgba(164,178,232,1) 100%);;
 }

 .header_container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
 }

 .header_text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
 }

 .site_title{
    font-family: 'bluesquare';
    font-weight: 1000;
    font-size: 6vw;
    color: var(--lightblue);
    margin-bottom: 1rem;
 }
 
 .site_subtitle{
    font-weight: bold;
    font-size: 2.5vw;
    color: var(--darkblue);
    margin-bottom: 1rem;
 }

 .header_button, .cv_button, .submit_btn{
    background-color: var(--lightblue);
    font-weight: bold;
    color: var(--white);
    border: none;
    font-size: 1.5rem;
    width: 15rem;
    padding: 0.5rem;
    cursor: pointer;
    margin-top: 1rem;
    text-align: center;
    text-decoration: none;
 }

 .header_button:hover, .cv_button:hover, .submit_btn:hover{
    background-color: var(--darkblue);
 }
 .header_image{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
 }

 .profile_picture{
    width: 80%; 
}

/*Presentation CSS*/

.presentation_container{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.presentation_logo{
    height: 10rem;
    margin-bottom: 2rem;
}

.presentation_text{
    text-align: center;
    font-size: 18pt;
}


/*Skill CSS*/

.skills{
    background-color: var(--light-gray);
}
.skills_container{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    padding-bottom: 4rem;
    align-items: center;
}

.skills_details{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.developpement_skills{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.other_skills{
    width: 45%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    height:max-content;
}

.skill_title{
    font-weight: bold;
    color: var(--darkblue);
    margin-bottom: 2rem;
    margin-top: 3rem;
}

.skill_bar{
    width: 100%;
    background-color: #fefefe;
    height: 0.5rem;
    border-radius: 0.5em;
    box-shadow: 0.1em 0.1em rgba(0, 0, 0, 0.055);
    margin-bottom: 1rem;
}

.skill_name{
    font-weight: 600;
    color: var(--lightblue);
    font-size: 1rem;
}
.percent_50{
    width: 50%;
    height: 0.5rem;
    background-color: var(--darkblue);
    border-radius: 0.5em;
}

.percent_75{
    width: 75%;
    height: 0.5rem;
    background-color: var(--darkblue);
    border-radius: 0.5em;
}

.percent_80{
    width: 80%;
    height: 0.5rem;
    background-color: var(--darkblue);
    border-radius: 0.5em;
}

.percent_85{
    width: 85%;
    height: 0.5rem;
    background-color: var(--darkblue);
    border-radius: 0.5em;
}
.percent_90{
    width: 90%;
    height: 0.5rem;
    background-color: var(--darkblue);
    border-radius: 0.5em;
}
.percent_95{
    width: 95%;
    height: 0.5rem;
    background-color: var(--darkblue);
    border-radius: 0.5em;
}

.illustration_img{
    margin-top: 3rem;
    width: 70%;
    align-self: center;
    justify-self: flex-end;
}

.cv_button{
    margin-top: 3rem;
}

/*Skills section CSS*/
.portfolio_container{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    padding-bottom: 4rem;
    align-items: center;
}

.projects_list{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.project{
    display: flex;
    flex-direction: column;
    background-color: var(--light-gray);
    width: 20rem;
    margin-bottom: 2rem;
}

.project_img{
    margin-bottom: 0.5rem;
}

.project_name{
    font-weight: 600;
    color: var(--darkblue);
    text-align: center;
}
.btn_project{
    background-color: var(--lightblue);
    font-weight: bold;
    color: var(--white);
    border: none;
    font-size: 1rem;
    width: 15rem;
    padding: 0.5rem;
    cursor: pointer;
    margin-top: 1rem;
    text-align: center;
    text-decoration: none;
    justify-self: center;
    align-self: center;
    margin-bottom: 0.5rem;
}

.btn_project:hover{
    background-color: var(--darkblue);
}

/*Contact CSS*/
.contact{
    background-color: var(--light-gray);
}
.contact_container{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    padding-bottom: 4rem;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.form_label{
    font-weight: bold;
    margin-bottom: 0.2rem;
}

.form_input{
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.submit_btn{
    align-self: center;
}


.required{
    font-weight: bold;
    color: red;
}

/*Footer CSS*/
footer{
    background-color: var(--darkblue);
}

.footer_container{
    width: 80%;
    margin: auto;
}

.footer_toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
 
}

.footer_social{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.footer_social_icon{
    height: 24px;
    margin-right: 0.5rem;
}

.footer_location{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_location_icon{
    height: 30px;
}

.footer_location_link, .footer_contact_link, .footer_link{
    color: var(--white);
    text-decoration: none;

}

.footer_location:hover, .footer_contact:hover, .footer_link:hover{
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}
.footer_contact{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.footer_contact_icon{
    height: 30px;
}

.footer_menu{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5px solid var(--white);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.footer_link{
    margin-right: 1rem;
}

.footer_copyright{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: var(--white);
}

